header h1 {
	margin-top: 0px;
	padding: 5px 0 5px 5px;
	background-color: #111;
	color: #fff;
	font-weight: normal;
}

header a {
	text-decoration: none;
}

.container {
	text-align: center;
}

form {
	margin-top: 20px;
}

input {
	margin-top: 20px;
}

#submit-players {
	margin-left: 70px;
	margin-right: 0px;
}

#start {
	text-align: center;
	margin: auto;
	color: #fff;
	background-color: red;
	font-size: 25px;
	width: 200px;
}

#race_track {
	width: 100%;
	padding-top: 30px;
}

.player {
	width: 100px;
	padding: 2px 10px 2px 3px;
	margin: 10px 0px 10px;
	text-align: right;
	color: #fff;
	font-size: 27px;
}


#finish_line {
	position: absolute;
	height: 100%;
	width: 5px;
	background-color: #111;
	right: 100px;
	top: 0px;
	z-index: -1;
}

.pkey {
	font-size: 12px;
}