header h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 0px;
	padding: 10px;
	color: #fff;
	background-color: green;
}

#start {
	text-align: center;
	margin: auto;
	color: #fff;
	background-color: red;
	font-size: 25px;
	/*border: 1px solid red;*/
	width: 200px;
}

#race_track {
	width: 100%;
}

.player {
	width: 100px;
	padding-right: 10px;
	margin: 10px 0px 10px;
	text-align: right;
	color: #fff;
	font-size: 30px;
}

#player0 {
	background-color: blue;
}

#player1 {
	background-color: purple;
}

#finish_line {
	position: absolute;
	height: 100%;
	width: 5px;
	background-color: #111;
	right: 100px;
	top: 0px;
	z-index: -1;
}